@import "modules/all";

html, body {
    font-size: 62.5%; // 1rem = 10px
}

body {
    min-height: 100vh;
    color: $main-color;
}

.middle-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// Modules