.player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__buttons {
        margin-bottom: 12px;
        width: 224px;
        justify-content: space-between;
        flex-flow: row nowrap;

        button:hover {
            color: $color-white;
        }
    }
}